/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  /*font-size: 62.5%;*/
}
html,
body {
  font-family: 'Roboto';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', normal;
}
h1 {
}
h2 {
  padding-bottom: 10px;
}
h4 {
  padding-bottom: 10px;
}
p {
  color:#565656;
}
img {
  max-width: 100%;
  height: auto;
}
input {

}

/* To make scrollbar transparent */
body{
  overflow-x:hidden;
}
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

/* Container Settings */
.container {
  display: flex;
  flex-direction: column;

  position: relative;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 500px) {
  .container {
    width: 100%;
  }

}

/* Navigation Bar */
.main-navigation{
  display:flex;
  width: 100%;
  height: 55px;

  font-size: 2vw;
  line-height: 1.75rem;

  background:#E5E5E5;
  color: #565656;
}
@media (max-width: 556px) {
  .main-navigation{
    font-size:1.5rem; 
  }
}


.nav-container{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo items */
.logo-items{
  height: 100%;

  display: flex;
  align-items: center;

  padding-left: 1%;
}
@media (max-width: 556px) {
  .logo-items{
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding-left: 2.5%;
  }
}
.logo-items .logo{
  max-height:80%;
}
.logo-items .logo-header{
  padding-left: 5%;
}

/* Nav items */
.nav { 
  width: 42%;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
}
.nav-link{ 
  display: flex;
  align-items: center;
  padding-right: 5%;
  flex-wrap: nowrap;
  
  text-decoration: none;
  color: #565656;   
  flex-shrink: 0;
}
@media (max-width: 556px) {
  .nav-link{
    display: none;
  }
}
.nav-link-mobile{
  display: none;
}
@media (max-width: 556px){
  .nav-link-mobile{
    display: flex;
    align-items: center;
    padding-right: 10%;
    text-decoration: none;
    color: #565656;   
}
}

/* Motto and sign in */
.motto-home{
  display: flex;
  width: 100%;
  background: #282828;
  padding-right: 10%;
}
@media (max-width: 556px){
  .motto-home{
  padding-bottom: 10%;
  }
}


/* Motto */
.home-memo{
  display: flex;
  flex-direction: column;

  margin-top: 8.1%;
  margin-left: 5.5%;
  color: #FFFFFF;
}
@media (max-width: 556px) {
  .home-memo{
    height: 20rem;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}
.home-memo h1{
  font-size: 4rem;
  line-height: 4.55rem;
  letter-spacing: 0.04em;
}
@media (max-width: 556px) {
  .home-memo h1{
    font-size: 2.2rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    font: normal;
  }
}
.home-memo h3{
  margin-top: 3%;
  font-size: 3.25rem;
  line-height: 3.8125rem;
  letter-spacing: 0.05em;
}
@media (max-width: 556px) {
  .home-memo h3{
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.03em;
    font: normal;
  }
}

/* Motto btn */
.btn{
  margin-top: 4.0%;
  margin-left: 2.2%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 13.55rem;
  height: 2.7rem;

  background: #00897B;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}
@media (max-width: 556px) {
  .btn{
    font-size: 1.1rem;
    line-height: 1rem;
    letter-spacing: 0.03em;
    font: normal;
    margin-left: 0%;
    width: 9rem;
    height: 2.1rem;
  }
}

/* Motto image */
.main-image{
  display: flex;
  width: 57.5rem;
  height: 38rem;
  margin-left: 6%;
}
@media (max-width: 556px) {
  .main-image{
    transform: scaleX(-1);
    margin-left: 25%;
  }
}

/* Contact-form */
.contact-form{
  display: flex;
  flex-direction: column;
  margin-top: 21.15%;
  margin-left: 5%;
  width: 25rem;
  height: 28rem;

  background: #FFFFFF;
  border: 5px solid #C4C4C4; 
  box-sizing: border-box;
  border-radius: 15px;

  padding: 3.3%;
  color: #565656;
}
/* @media (max-width: 500px) { */
  @media (max-width: 556px) {
    .contact-form{
      display: none;
    }
  }

.contact-form h4{
  margin-top: 2%;
  font-size: 1.3rem;
  line-height: 1rem;
  color: #565656;
}

.contact-form input{
  width: 17.5rem ;
  height: 2.5rem;

  background: #FFFFFF;
  border: 2px solid #565656;
  box-sizing: border-box;
  margin-bottom: 13%;
}

.contact-form-link{
  text-decoration: none;
  color:#565656;
}

.contact-form .btn{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 13%;
  margin-left: 56%;

  width: 7.9rem;
  height: 3.1rem;

  background: #00897B;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
}

/* All Tabs */
.tabs-home{
  display:flex;
  flex-direction: column;
  width: 100%;
  height:100%;
  margin-left: 7%;
  color:#565656;
  padding-bottom: 1%;
  /* margin-right: 17%; */
}
.topics{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */

  width: 84.5%;
  height: 4.6rem;
  margin-top: 15%;

  /* border: 5px solid #C4C4C4; */
}
@media (max-width: 556px) {
  .topics{
    margin-top: 5%;
  }
}

.tabs-home .tab{
  width: 26rem;
  border: 5px solid #C4C4C4;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 556px) {
  .tabs-home .tab{
    border: 2px solid #C4C4C4;
    text-align: center;
    font-weight: bold;
    height: 60%;
    margin-top: 0%;
    padding-top: 0%;
  }
}

.content-tabs{
  display: none;
  justify-content: space-around;
  align-items: center;

  width: 84.5%;
  height: 37rem;

  margin: 0%;
  border: 5px solid #C4C4C4;
}
@media (max-width: 556px) {
  .content-tabs{
    width: 84.5%;
    height: 27rem;
    flex-direction: column;
    border: 2px solid #C4C4C4;
    margin-top: 0%;
    padding-top: 0%;
  }
}

.tabs-image{
  display: flex;
  width: 45rem;
  height: 100%;

  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 556px) {
  .tabs-home .tabs-image{
    display: flex;
    justify-content: center;
    
    margin: 0%;
    width: 20rem;
    height: 90%;
    padding-top: 0%; 
  }
}

.tabs-text{
  display: flex;
  align-content: center;
  width: 100%;
  margin: 0%;
  padding-top: 0%;
  padding-bottom: 5%;
  padding-left: 3%;
  padding-right: 5%;  
  font-size: 1.6rem;
  line-height: 3.5rem;
}
@media (max-width: 556px) {
  .tabs-text{
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  /* align-content: center;
  justify-content: center; */
  text-align: center;
  padding-top: 1%;
  }
}



/* Feedback */
.feedback-home{
  display: flex;
  background-image: url("main-feedback.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  /* height: 29.5rem; */
  width: 100%;
  height: 100%;
  color:#565656;

  /* margin-bottom: 10%; */
}
@media (max-width: 556px) {
  .feedback-home{
    width: 100%;
    height: 15.5rem;
  }
}

.main-feedbacks{
  margin-top: 8%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 556px) {
  .main-feedbacks{
    display: flex;
    flex-direction: row;
  }
}

.content-main-feedback{
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 20%;
  justify-content: space-between;
}
@media (max-width: 556px) {
  .content-main-feedback{
    display: flex;
    flex-direction: column;
  }
}

.main-feedback-text{
  width: 80%;
  font-size: 2.2rem;
  line-height: 3.1rem;
  letter-spacing: 0.05rem;
  padding-bottom: 8%;
}
@media (max-width: 556px) {
  .main-feedback-text{
    font-size: 1.3rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
  }
}


/* Screenshots */
.screenshots-home{
  width: 100%;
  display: flex;
  /* padding-bottom: 10%; */
  
  margin-bottom: 7%;
  /* border-bottom: 4px solid #B8DEDA; */
}

.main-screenshots{
  display: flex;
  justify-content: space-evenly;
  margin-left:3%;
  margin-right:3%;
}

.content-main-screenshots{
display: flex;
flex-direction: column;
align-items: center;

border: 5px solid #C4C4C4;
box-sizing: border-box;
padding-top: 3%;
padding-bottom: 1%;
width: 25%;

}
.content-main-screenshots p{
  padding-left: 10%;
  padding-right: 9.5%;
  padding-top: 5%;
  font-size: 1.125rem;
  line-height: 2rem;
}

/* Footer */
.footer-home{
  border-top: 4px solid #B8DEDA;
  padding-top: 3%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  line-height: 2rem;
  padding-bottom: 10%;
  color:#565656;
  font-size: 1.2rem;
line-height: 2rem;
  
}
.footer-remarks-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons{
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.icon{
  padding-left: 7%;
  padding-right:7%;
}








